@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add global styles for dark and light themes */
html {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body {
  background-color: #ffffff; /* Light theme */
  color: #000000; /* Light theme */
}

html.dark body {
  background-color: #1a202c; /* Dark theme */
  color: #e2e8f0; /* Dark theme */
}